.label {
    width: 115px;
    height: 17px;
    font-family: 'Montserrat';
    font-size: var(--size-small);
    font-weight: bold;
    color: var(--color-fourth);
}

/* selection muda a cor da seleção do texto pelo usuário */
.label::selection {
    background-color: var(--color-first);
    color: var(--color-zero);
}